<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<header>
        <h1>
            {% block name %}{% endblock %}
        </h1>
        <a href="{% url 'calculator' %}"><button>Calculator</button></a>
        <a href="{% url 'graph' %}"><button>Graph</button></a>
        <a href="{% url 'info' %}"><button>Info</button></a>
    <hr>
</header>
<body>
    {% block body %}{% endblock %}
</body>


<footer>

        <hr>
        <ul>
            <li>Map</li>
            <li>Address</li>
            <li>Phone</li>
            <li>Contact</li>
        </ul>

</footer>
</html>